<h2 class= "preamble">There are <span id="number"><%= Contact.all.length %></span> contacts</h2>
<ul>
<% Contact.all.each do |contact| %>
  <div class="contact_display">
    <li><h2><a href="/contacts/<%=contact.id.to_s%>"><%= contact.first_name %> <%= contact.last_name %></a> (<%= contact.email %>) <%= contact.note %></h2></li>
    <a href="/contacts/<%=contact.id.to_s%>/edit">Edit</a> | <a href="/contacts/<%=contact.id.to_s%>">Delete</a>
  </div>
<% end %>
</ul>
